*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

:root {
  --bg: #fdfdfd;
  --bg-secondary:#aebbcf81;

  --bg-surface: #ecececc4;

  /* Superfícies */
  --surface:  #ffffff;
  --surface-secundary:#d1e2ee;
  --surface-hover:#000000;
  --surface-card: #97969550;

  /* Cor principal */
  --primary: #4f8ef5;
  --primary-hover:#0044ffd5 ;

  /* Sombra */
  --shadow: #2c2d2eab ;

  --shadowFilter: #4333d6 ;
  --shadowFilterSpecial:#05173f ;

  /* Textos */
  --title-Primary: #0d11e0d3 ;
  --text: #000000;
  --text-secondary: #808083;

  --success: #22c55e;
  --danger: #ef4444;

  /* line */
  --line: #0a105c;
  --line-secundary: #000000;
  --lineButtonSpecial: #000000 ;
}

body.dark {
  --bg: #0f172a;
  --bg-secondary: #162852;

  --bg-surface: #08071b38;

  --surface: #1e293b;
  --surface-secundary:#d1e2ee;
  --surface-hover: #ffffff;
  --surface-card: #334155;

  --primary: #3b82f6;
  --primary-hover: #2563eb;

  --shadow: #090636;

  --shadowFilter: #4333d6 ;
  --shadowFilterSpecial:#ffffff ;
  
  --title-Primary: #ffffff;
  --text: #fffcfc;
  --text-secondary: #948e8e;

  --success: #22c55e;
  --danger: #ef4444;

  --line: #1a21a8;
  --line-secundary: #fffefe9c;
  --lineButtonSpecial: #ffffff ;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "poppins", sans-serif;
  background: linear-gradient(160deg, var(--bg), var(--bg-secondary));
  color: var(--text);
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Barra de navegação */
nav {
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--line-secundary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  width: 100%;

  padding: 0 20px;


  position: fixed;
  z-index: 10;
}
/* LogoTipo */
.logo {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo span:first-child {
  color: var(--primary);
}
/* Botão de alternância do modo escuro */
#darkModeToggle {
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  border: 1px solid var(--text);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#darkModeToggle:hover {
  background-color: var(--text);
  color: var(--surface);

}
/* conteudo principal */
main {

  width: 800px;
  max-width: 100%;
  height: 100%;

  padding-top: 70px;
  flex: 1;

  background-color: var(--bg-surface);

}

/* Menu Principal */

.taskSection {
  height: 180px;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: 20px;


}

.secundaryTitle {
  font-size: 1.7rem;
  margin-bottom: 30px;

  color: var(--title-Primary);
}

.containerForm {
  display: flex;
  gap: 20px;
  justify-content: center;

  width: 100%;

  padding: 0 10px;
  /* border: 1px solid red; */


}

/* Input Adicionar */
.taskInput {
  padding: 10px;

  border: none;
  border-radius: 50px;

  background-color: var(--surface);

  color: var(--text);

  width: clamp(200px, 500px, 80%);

  box-shadow: 4px 2px 7px var(--shadow);
}

.taskInput::placeholder {
  color: var(--text-secondary);
}

/* Botão Submit */
.buttonSubmit {
  border: none;
  border-radius: 10px;

  padding: 10px 15px;
  background-color: var(--primary);
  color: var(--text);
    box-shadow: 3px 2px 7px var(--shadow);

  transition: all 0.2s ease;

  cursor: pointer;
}

.buttonSubmit:hover {
  background: var(--primary-hover);

  box-shadow: 0 0 15px var(--shadowFilter);
}

/* animação de click */
.buttonSubmitClick {
  animation: pulse 0.2s ease ;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  } 

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1) ;
  }
}

/* Mensagem enviar */

.sendMessage {
  color: var(--primary-hover);
 
  font-size: 1.5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  letter-spacing: 1px;
  
  margin-top: 1.2rem;

  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.4s ease, transform 0.4s ease;

  cursor: default;
}

.ativar {
  opacity: 1;
  transform: translateY(0);
}

/* Seção de Progresso Geral */

.containerProgress {
  height: 300px;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 50px;
}

/* Titulo Progresso */
.progressTitle {
  color: var(--title-Primary);

  font-size: 2rem;
}

/* Grid de Bars */

.bars {
  width: 100%;
  max-width: 300px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;

  gap: 50px;

  flex: 1;
}

/* Barra de progresso */
.progressBar {
  background: linear-gradient(360deg, var(--surface), var(--surface-secundary));
  width: 100px;

  position: relative;

  display: flex;

  box-shadow: 2px 3px 3px var(--shadow);
}

/* Parte completa da Barra de Progresso */

.progressPending {
  background-color: var(--danger);
  box-shadow: 1px 1px 3px #700a0af6;
  
  width: 100%;

  position: absolute;
  bottom: 0;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: height 0.5s ease;
  
}
.progressComplete {
  background-color: var(--success);
  box-shadow: 1px 1px 3px #045c04d0;

  width: 100%;

  position: absolute;
  bottom: 0;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: height 0.5s ease;
}

.filtered {
  font-size: 1rem;

  display: flex;
  flex-direction: row;
}

.filteredContainer {
  display: flex;

}

#allTasks {
  color: var(--text-secondary);
  margin-right:5px ;
}

#completedTasks {
 color: var(--success);
 margin-left:5px ;
 margin-right:5px ;
}

#pendingTasks {
  color: var(--danger);
  margin-left:5px ;
  margin-right:5px ;
}

/* Seção Tarefas */

.containerList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Titulo principal */
.listTitle {
  color: var(--title-Primary);
  font-size: 2.6rem;
  margin-bottom: 10px;
}

/* Seção filtros */
.filterSect {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 20px;

  margin-bottom: 10px;
}

/* Titulo Filtro */
.filterTitle {
  color: var(--primary);
  align-self:flex-start;
  letter-spacing: 1px;
}

/* container Botões */
.filterButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Botões de Filtro */
.buttonFilter {
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;

  background-color: var(--primary);
  color: var(--text);

  border: none;
  border-radius: 50px;

  transition: all 0.3s ease;
}
/* animação click */
.buttonFilterClick {
  transform: translateY(-10px);
  box-shadow: 3px 3px 100px var(--shadowFilter);
  background-color: var(--primary-hover) ;
}

.buttonFilter:hover {
  background-color: var(--primary-hover);
  box-shadow: 3px 3px 100px var(--shadowFilter);
}

/* botão filtrar todos */
.buttonAll {
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  box-shadow: none;

  border: 1px solid var(--lineButtonSpecial);

  transition: all 0.3s ease;
}

.buttonAll:hover {
  color: var(--text);
  background-color: var(--surface-hover);
  box-shadow: 2px 2px 100px var(--shadowFilterSpecial);

  color: var(--surface);
}

/* animação click special */
.buttonAllFilterClick {
  transform: translateY(-10px);
  background-color: var(--surface-hover);
  box-shadow: 2px 2px 100px var(--shadowFilterSpecial);

  color: var(--surface);
}

/* Lista de Tarefas */

#taskList {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;

  justify-items: center;

  margin-bottom: 20px;

  list-style: none;
}

/* Tarefas Adicionadas */

.card {
  position: relative;

  overflow: hidden;

  width: 350px;

  height: 200px;

  padding: 10px 0;
  margin-top: 18px;

  background-color: var(--surface);

  border-radius:30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textInput {
  height: 60%;
  width: 90%;
  max-width: 320px;

  padding: 10px;
  margin-bottom:10px ;

  background-color: var(--surface-card);
  color: var(--text);

  font-size: 1rem;

  border: none;
  border-radius: 10px;
}

.buttonsCard {
  width: 100%;

  padding-left:10px ;
}
/* CheckMark */
.checkContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkContainer input {
  display: none;
}

.checkMark {
  width: 22px;
  height: 22px;
  border: 2px solid #3b82f6;
  border-radius: 6px;
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkBox:checked + .checkMark {
 background-color: #3b82f6;
}

.removeButton {
  position: absolute;
  bottom: 5px;
  right: 10px;

  padding: 3px;

  background: var(--danger);

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.removeButton:hover {
  background-color: #941212;
}

/* Footer */

footer {
  height: 50px;
  width: 100%;
  padding: 0 20px;

  border-top: 0.1px solid var(--line);

  background: linear-gradient(360deg,#09044b38 , var(--bg));

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--text-secondary);
}

/* Separadora de conteudo */

.line {

    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--line), transparent);

}
/* Responsividade */

@media (min-width: 800px) {
  #taskList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  .filtered {
    display: flex;
    flex-direction: column;
  }
}